<div class="widget">
    {#Todo#}
    {#<div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div> #}
    <div class="widget__content">
        <div class="title">{{ title }}</div>
        <div class="number">{{ number }}</div>
        <div class="progress">
            <div class="progress-bar" style="width: {{ percent }}%;"></div>
        </div>
        <div class="desc">{{ description }}</div>
    </div>
</div>
