{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="index">
        <header class="d-flex align-items-center justify-content-md-center">
            <div class="row ">
                <div class="col">
                    <h1>Nothing to do coming soon</h1>
                    <p>Potentially the next great idle game that no-one asked for.</p>
                    <p><a href="#" class="">Try it out (If it exists)</a></p>
                </div>
            </div>
        </header>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

