body, html {
  background-color: #ebebeb;
}

.header {
  min-height: 60px;
  width: 100%;
  background: linear-gradient(to right, #ff9966 0%, #ff9966 30% ,#ff66cc 100%);
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
  color: white;
  //background: linear-gradient(to bottom,#b52ea4 0%,#f13800 100%);
  //background: linear-gradient(to bottom,#ad6c7c 0%,rgb(216,0,255) 100%);
  //background: linear-gradient(to bottom,#039477 0%,#2dda7a 100%);
  //background: linear-gradient(to bottom,#b96f77 0%,#ca0e0e 100%);
}
