body, html {
  background-color: #ebebeb;
  height: 100%;
  display: flex;
  flex-flow: column;
}

//ff66cc
//ff9966
//ff6680
//ff66a6
//ff7366

.header {
  min-height: 60px;
  width: 100%;
  background: linear-gradient(to right, #ff9966 0%, #ff9966 30% ,#ff66cc 100%);
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
  color: white;

  .navbar-dark .navbar-nav .nav-item .nav-link{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 17px;
    color: rgba(#fff, 0.9) !important;
  }
}
